{% extends 'base.html' %}

{% block title %}Data Analysis{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}">
{% endblock %}

{% block content %}
<div class="analysis-container">
    <div class="title-container">
        <h1 class="analysis-title">Daily Environmental Data Analysis</h1>
    </div>
    <div class="graph-row">
        <div class="graph-item" onclick="enlargeGraph('temperature')">
            <h2>Temperature</h2>
            <img src="data:image/png;base64,{{ graphs['temperature'] }}" 
            alt="Temperature Graph" id="temperature">
        </div>
        <div class="graph-item" onclick="enlargeGraph('humidity')">
            <h2>Humidity</h2>
            <img src="data:image/png;base64,{{ graphs['humidity'] }}" 
            alt="Humidity Graph" id="humidity">
        </div>
        <div class="graph-item" onclick="enlargeGraph('lux')">
            <h2>Light Intensity</h2>
            <img src="data:image/png;base64,{{ graphs['lux'] }}" 
            alt="Light Intensity Graph" id="lux">
        </div>
    </div>

    <!-- Weekly Environmental Data -->
    <div class="title-container">
        <h1 class="analysis-title">Weekly Environmental Data Analysis</h1>
    </div>

    <!-- Daytime Average Graphs -->
    <div class="graph-row">
        <div class="graph-item" onclick="enlargeGraph('daily_avg_temperature')">
            <h2>Daytime Average Temperature</h2>
            <img src="data:image/png;base64,{{ graphs['daily_avg_temperature'] }}" 
            alt="Daytime Average Temperature" id="daily_avg_temperature">
        </div>
        <div class="graph-item" onclick="enlargeGraph('daily_avg_humidity')">
            <h2>Daytime Average Humidity</h2>
            <img src="data:image/png;base64,{{ graphs['daily_avg_humidity'] }}" 
            alt="Daytime Average Humidity" id="daily_avg_humidity">
        </div>
        <div class="graph-item" onclick="enlargeGraph('daily_avg_light_intensity')">
            <h2>Daytime Average Light Intensity</h2>
            <img src="data:image/png;base64,{{ graphs['daily_avg_light_intensity'] }}" 
            alt="Daytime Average Light Intensity" id="daily_avg_light_intensity">
        </div>
    </div>

    <!-- Nighttime Average Graphs -->
    <div class="graph-row">
        <div class="graph-item" onclick="enlargeGraph('night_avg_temperature')">
            <h2>Nighttime Average Temperature</h2>
            <img src="data:image/png;base64,{{ graphs['night_avg_temperature'] }}" 
            alt="Nighttime Average Temperature" id="night_avg_temperature">
        </div>
        <div class="graph-item" onclick="enlargeGraph('night_avg_humidity')">
            <h2>Nighttime Average Humidity</h2>
            <img src="data:image/png;base64,{{ graphs['night_avg_humidity'] }}" 
            alt="Nighttime Average Humidity" id="night_avg_humidity">
        </div>
        <div class="graph-item" onclick="enlargeGraph('night_avg_light_intensity')">
            <h2>Nighttime Average Light Intensity</h2>
            <img src="data:image/png;base64,{{ graphs['night_avg_light_intensity'] }}" 
            alt="Nighttime Average Light Intensity" id="night_avg_light_intensity">
        </div>
    </div>

    <!-- All Day Average Graphs -->
    <div class="graph-row">
        <div class="graph-item" onclick="enlargeGraph('whole_avg_temperature')">
            <h2>Whole-Day Average Temperature</h2>
            <img src="data:image/png;base64, {{ graphs['whole_avg_temperature'] }}" 
            alt="Whole-Day Average Temperature" id="whole_avg_temperature">
        </div>
        <div class="graph-item" onclick="enlargeGraph('whole_avg_humidity')">
            <h2>Whole-Day Average Humidity</h2>
            <img src="data:image/png;base64, {{ graphs['whole_avg_humidity'] }}" 
            alt="Whole-Day Average Humidity" id="whole_avg_humidity">
        </div>
        <div class="graph-item" onclick="enlargeGraph('whole_avg_light_intensity')">
            <h2>Whole-Day Average Light Intensity</h2>
            <img src="data:image/png;base64, {{ graphs['whole_avg_light_intensity'] }}" 
            alt="Whole-Day Average Light Intensity" id="whole_avg_light_intensity">
        </div>
    </div>

    <!-- Modal structure -->
    <div id="graph-modal" class="modal" onclick="closeModal()">
        <span class="close-button" onclick="closeModal()">×</span>
        <img id="modal-img" class="modal-content">
    </div>

</div>
{% endblock %}

