
.analysis-container {
    width: 100%;
    margin: 0 auto; 
    padding: 20px 0.5px;
    display: block; 
}


.title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.analysis-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 0;
}


.graph-row {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    margin-top: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap; 
}


.graph-item {
    text-align: center;
    flex: 1 1 300px; 
    max-width: 30%;
    min-width: 280px;
}


.graph-item img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.graph-item h2 {
    color: #FF6F61; 
    margin-bottom: 10px;
    text-align: center;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}


.modal-content {
    max-width: 90%; 
    max-height: 90%; 
    width: auto; 
    height: auto;
    border: 5px solid white; 
    border-radius: 10px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.close-button:hover,
.close-button:focus {
    color: #ff6f61; 
}
