body {
    margin: 0;
    padding: 0;
    background-color: #fff9f9; /* Light strawberry background */
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #FF6F61; /* Strawberry red for header */
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #FF6F61; /* Strawberry red for footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    align-items: flex-start; /* Align content at the start (top) of the container */
    justify-content: space-between;
    padding: 20px;
}

.table-container {
    width: 70%; /* Adjust width for the table */
    margin-right: 20px; /* Space between table and sticky box */
}

.summary-container {
    width: 25%;
    margin-left: 60px;
    margin_top: 100px;
    background-color: white; /* White background for the summary box */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    color: #333;
}

.summary-container h2 {
    color: #FF6F61; /* Strawberry red */
}

summary-container p {
    color: #333; /* Standard text color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff; /* White table background */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FF6F61; /* Strawberry red for the header */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

input[type="submit"] {
    background-color: #4CAF50; /* Leaf green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #388E3C; /* Darker leaf green */
}

