<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header class="header-container">
        <img src="{{ url_for('static', filename='GRAnewlogocopy_main.png') }}" alt="Logo" class="logo">
        <h1 class="header-title">Sensor Data Dashboard</h1>
        <div class="header-buttons">
            <nav>
                <ul class="navbar">
                    <li><a href="{{ url_for('table.table') }}">Sensor Measurements</a></li>
                    <li><a href="{{ url_for('summary.summary_table') }}">Summary Page</a></li>
                    <li><a href="{{ url_for('analysis.analysis') }}">Data Analysis</a></li>
                </ul>
            </nav>
            <div class="download-container">
                <a href="{{ url_for('table.download_csv') }}" class="download-button">Download Data</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Footer content</p>
    </footer>
    {% block scripts %}
    <script src="{{ url_for('static', filename='analysis.js') }}"></script>
    {% endblock %}
</body>
</html>

